* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-image: url(https://static.vecteezy.com/system/resources/previews/009/832/280/non_2x/abstract-pastel-background-of-geometric-shapes-free-vector.jpg); */
    /* background-image: url(https://img.freepik.com/premium-vector/vector-modern-abstract-fluid-dynamic-colorful-vector-background-abstract-background_921039-954.jpg?w=900); */
    /* background-image: url(https://media.gettyimages.com/id/836276708/photo/pastels.jpg?s=612x612&w=0&k=20&c=9-WiNbXul9Ua7LUfPqwAlVRW_6mYZrBka7CJM8wIyDA=); */
    background-repeat: no-repeat;
    background-image: url(bg3.png);
    /* background-size: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: #444; */
}

.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: #029d73;
    /* opacity: 0.5; */
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

form.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.title-1 {
    font-size: 37px;
    color: #39B593;
    margin-bottom: 10px;
}

.title-2 {
    font-size: 45px;
    color: #39B593;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: #effaf6;
    margin: 10px 0;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field i {
    flex: 1;
    text-align: center;
    color: #39B593;
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #39B593;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    border: solid #39B593;
    background-color: white;
    color: #39B593;
    box-shadow: 0px 0px 7px #39B593 inset,
        0px 0px 7px #39B593;
}

.social-text {
    margin: 10px 0;
    font-size: 16px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    margin: 0 5px;
}
.social-icon .icon {
    transition: 0.6s ease-in-out;
}

.social-icon:hover .icon {
    transform: rotateY(360deg);
    text-shadow: 0px 0px 1px rgb(71, 70, 70);
}
.social-icon:hover {
    box-shadow: 0px 0px 3px black inset,
                0px 0px 3px black;
}


a {
    text-decoration: none;
}

.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}

.left-panel {
    pointer-events: none;
}

.content {
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.panel h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.panel p {
    font-size: 15px;
    padding: 10px 0;
}

#sign-up-btn,
#sign-in-btn {
    border: solid white 1px;
}

.left-panel .content {
    transform: translateX(-200%);
}

.right-panel .content {
    transform: translateX(0);
}

.account-text {
    display: none;
}

.container.sign-up-mode::before {
    transform: translateX(0);
}

.container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}

.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}

.container.sign-up-mode .right-panel {
    pointer-events: none;
}

.container.sign-up-mode .left-panel {
    pointer-events: all;
}

@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:635px) {
    .container::before {
        display: none;
    }

    form {
        width: 80%;
    }

    form.sign-up-form {
        display: none;
    }

    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }

    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }

    .panels-container {
        display: none;
    }

    .account-text {
        display: initial;
        margin-top: 30px;
    }
}

@media (max-width:320px) {
    form {
        width: 90%;
    }
}
